<!doctype html>
<html>
  <head>
    <title>USERS</title>
  </head>
  <body>

    <ul>
      <!-- une boucle -->
      {% for u in data %}
      <li>{{ u }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
